* {
    margin: 0.0;
    border: 1;
    box-sizing: border-box;
}

html,
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.box {
    position: absolute;
    height: 50%;
    width: 50%;
}

.red {
    left: 0;
    top: 0;
    background: red;
}

.green {
    right: 0;
    top: 0;
    background: rgb(2, 128, 2);    
}

.pink {
    right: 0;
    bottom: 0;
    background: rgb(246, 107, 153);
}

.orange {
    left: 0;
    bottom: 0;
    background: rgb(255, 168, 7);
 
}

.box::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.box::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 100px;
    width: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.center-box {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.center-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.center-half-circle-up {
    position: absolute;
    width: 150px;
    height: 75px;
    background-color: white;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    top: 0.0;
    left: 50%;
    transform: translate(-50%);
}

.center-half-circle-down {
    position: absolute;
    height: 75px;
    width: 150px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background-color: white;
    transform: translate(-50%);
    bottom: 0.0;
    left: 50%;
}

.left-half-circle-up {
    position: absolute;
    height: 100px;
    width: 100px;
    border-bottom-right-radius: 150px;
    background-color: white;
    top: 0;
    left: 0;
}

.left-half-circle-down {
    position: absolute;
    border-top-right-radius: 150px;
    height: 100px;
    width: 100px;
    background-color: white;
    left: 0;
    bottom: 0;
}

.right-half-circle-up {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 150px;
    top: 0;
    right: 0;
}


.right-half-circle-down {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 150px;
    background-color: white;
}