* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
}

.grids-containers {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    border: 1px solid rgb(94, 90, 91);
    grid-template-columns: repeat(4, 25%); 
    gap: 0;
}

.grids-containers > div {
    border: 1px solid rgb(94, 90, 91);
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: green;
}

.item-3 {
    background-color: orangered;
}

.item-4 {
    background-color: purple;
}

.item-5 {
    background-color: deeppink;
}

.item-6 {
    background-color: blue;
}

.item-7 {
    background-color: brown;
}
.item-8 {
    background-color: violet;
}

.item-9 {
    background-color: indigo;
}

.item-10 {
    background-color: gold;
}

.item-11 {
    background-color: cadetblue;
}

.item-12 {
    background-color: cyan;
}