* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.header {
    position: relative;
    height: 60px;
    border-bottom: 2px solid #ccc;
    position: relative;
    background-color: white;
    z-index: 10;
}

.logo {
    position: absolute;
    left: 40x;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    z-index: 100;
}

.top-nav {
    position: absolute;
    right: 40px;
    top: 20px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.main-content {
    position: relative;
    width: 100%;
    min-height: 500px;
    gap: 10px;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}


.sidebar ul li {
    list-style: none;
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.sidebar {
    position: absolute;
    left: 0;
    background-color: #4b0082;
    width: 20%;
    top: 0;
    padding-top: 40px;
    bottom: 0;
}
.content {
    padding: 20px;
    margin-left: 20%;  
    width: 80%;     
}

.card-container {

    display: flex;
    border: 1px solid #171717;
    background-color: #f7e9e9;
    gap: 0px;
}

.card-container img {
    width: 33%;
    height: auto;
    border-right: 1px solid #000000;
}

.card-container img:last-child {
    border-right: none;
}

.word-cont p {
    margin-top: 15px;
    line-height: 1.5;
    margin-bottom: 13px;
    color: #2c2c2c;
}

footer {
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #5e5a5a;
    line-height: 40px;
    text-align: center;
    color: white;
    z-index: 200;
}